## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is a structured collection of data that is organized and managed in a way that allows for efficient storage, retrieval, and manipulation of information. Databases can be used to store a wide variety of data, such as text, numbers, images, and more.

SQL and NoSQL are two different types of databases that differ in their structure, storage, and approach to handling data.

SQL databases are relational databases that use structured query language (SQL) to manage data. They are organized into tables, with each table containing rows and columns. SQL databases have a predefined schema, which means that the structure of the database is fixed and must be defined before any data can be inserted. Examples of SQL databases include MySQL, Oracle, and Microsoft SQL Server.

NoSQL databases, on the other hand, are non-relational databases that do not use SQL to manage data. They are designed to handle unstructured data, such as documents, images, and videos. NoSQL databases are schema-less, which means that the structure of the database can be changed on-the-fly, making them more flexible than SQL databases. Examples of NoSQL databases include MongoDB, Cassandra, and Couchbase.

In summary, SQL databases are relational, structured, and have a fixed schema, while NoSQL databases are non-relational, unstructured, and have a flexible schema.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a set of SQL commands used to define, modify, and remove database structures, such as tables, indexes, and constraints.

The following are some of the commonly used DDL commands in SQL:

CREATE: The CREATE command is used to create new database objects, such as tables, indexes, views, and stored procedures. For example, the following SQL statement creates a new table called "customers":

CREATE TABLE customers (
  customer_id INT PRIMARY KEY,
  customer_name VARCHAR(50) NOT NULL,
  email VARCHAR(50)
);

DROP: The DROP command is used to remove existing database objects, such as tables, indexes, views, and stored procedures. For example, the following SQL statement drops the "customers" table:

DROP TABLE customers;

ALTER: The ALTER command is used to modify the structure of existing database objects, such as tables, columns, and constraints. For example, the following SQL statement adds a new column called "phone" to the "customers" table:

ALTER TABLE customers ADD phone VARCHAR(20);

TRUNCATE: The TRUNCATE command is used to remove all the data from a table, while keeping its structure intact. For example, the following SQL statement removes all the data from the "customers" table:

TRUNCATE TABLE customers;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data in a relational database management system (RDBMS). DML commands are used to insert, update, and delete data in tables.

Here are some examples of DML commands:

INSERT: The INSERT statement is used to add new data to a table. For example, consider the following table called "employees":

id	name	age	department
1	John Doe	25	Sales
2	Jane Doe	30	Marketing
3	Bob Smith	35	IT

To insert a new employee into the table, we can use the following INSERT statement:
INSERT INTO employees (id, name, age, department)
VALUES (4, 'Mary Johnson', 28, 'HR');

UPDATE: The UPDATE statement is used to modify existing data in a table. For example, to update the age of the employee with id 2 to 35, we can use the following UPDATE statement:

UPDATE employees
SET age = 35
WHERE id = 2;

DELETE: The DELETE statement is used to remove data from a table. For example, to delete the employee with id 3 from the "employees" table, we can use the following DELETE statement:

DELETE FROM employees
WHERE id = 3;

## Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to query data from a relational database management system (RDBMS). DQL commands are used to retrieve data from tables.

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. For example, consider the following table called "employees":

id	name	age	department
1	John Doe	25	Sales
2	Jane Doe	30	Marketing
3	Bob Smith	35	IT

To retrieve all the data from the "employees" table, we can use the following SELECT statement:

SELECT * FROM employees;

select specific columns by listing them after the SELECT keyword

SELECT name, department FROM employees;

We can also add conditions to filter the results

SELECT * FROM employees
WHERE age < 30;

## Q5. Explain Primary Key and Foreign Key.

Primary key and foreign key are two important concepts in database design that are used to establish relationships between tables in a relational database management system (RDBMS).

Primary Key:
A primary key is a unique identifier for each row in a table. It is a column or a combination of columns that uniquely identifies each record in the table. A primary key is used to enforce the integrity of the data by ensuring that each record is unique and can be easily accessed and updated. Some characteristics of primary keys are:
A primary key cannot contain null values.
A primary key must be unique for each record in the table.
A primary key must have a defined data type.
For example, in a table called "students", the primary key could be the "student_id" column, which is a unique identifier for each student.

Foreign Key:
A foreign key is a column in one table that refers to the primary key of another table. It is used to establish a relationship between two tables in a database. A foreign key is used to enforce referential integrity by ensuring that the values in the column match the values of the primary key in the related table.
For example, consider two tables called "students" and "courses". The "students" table has a primary key "student_id", and the "courses" table has a primary key "course_id". To establish a relationship between the two tables, we can create a foreign key in the "courses" table that references the "student_id" column in the "students" table. This would allow us to link each course to the student who is enrolled in it.

Some characteristics of foreign keys are:

A foreign key can contain null values.
A foreign key must match the data type of the primary key in the related table.
A foreign key can be used to enforce referential integrity, which ensures that data in the related tables remains consistent.
In summary, primary keys are used to uniquely identify records in a table, while foreign keys are used to establish relationships between tables in a database.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, we need to install a MySQL connector package. The most commonly used package is "mysql-connector-python", which can be installed using pip. Here is an example code to connect MySQL to Python and execute a SELECT statement:

In [ ]:
import mysql.connector

# create a connection to the database
cnx = mysql.connector.connect(
    user='username',
    password='password',
    host='localhost',
    database='database_name'
)

# create a cursor object
cursor = cnx.cursor()

# execute a SELECT statement
query = "SELECT * FROM table_name"
cursor.execute(query)

# fetch all rows using fetchall() method
rows = cursor.fetchall()

# print the rows
for row in rows:
    print(row)

# close the cursor and connection
cursor.close()
cnx.close()

The cursor() method is used to create a cursor object that allows us to execute SQL queries and fetch data from the database. The cursor object maintains the state of the current position in the result set and provides methods to fetch data, such as fetchone() and fetchall().

The execute() method is used to execute an SQL query on the database. It takes an SQL query string as a parameter and returns None. If the query returns a result set, we need to use methods like fetchone() or fetchall() to retrieve the results. The execute() method can also take parameters in the form of a tuple, which are used to replace placeholders in the SQL query string.

## Q7. Give the order of execution of SQL clauses in an SQL query.

In SQL, the order of execution of clauses in an SQL query is as follows:

1. FROM clause: The FROM clause specifies the table or tables from which the data will be retrieved.

2. JOIN clause: The JOIN clause is used to combine data from two or more tables based on a related column.

3. WHERE clause: The WHERE clause is used to filter data based on a specified condition.

4. GROUP BY clause: The GROUP BY clause is used to group the data by one or more columns.

5. HAVING clause: The HAVING clause is used to filter the grouped data based on a specified condition.

6. SELECT clause: The SELECT clause is used to select the columns to be included in the result set.

7. DISTINCT clause: The DISTINCT clause is used to remove duplicate rows from the result set.

8. ORDER BY clause: The ORDER BY clause is used to sort the result set based on one or more columns.

9. LIMIT clause: The LIMIT clause is used to limit the number of rows returned by the query.